@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1.2em;
  color: white;
  background-color: #000;
}

.slide {
  /* Give the opacity a starting value */
  opacity: 0;

  /* Enable transition of opacity */
  transition: opacity 2s ease-in-out;
}

.descriptor {
  margin: 0 10px;
}

.bro-progress {
  flex-direction: row;
  display: flex;
  height: 50px;
  margin: 0;
  background-color: lightblue;
}

.bro-bar {
  height: inherit;
  padding: 0;
  margin: 0;

  /* Enable transition of width */
  transition: width 2s ease-in-out;
}

.bro-counter {
  line-height: 0.8em;

  opacity: 1;

  /* Give the width a starting value */
  width: 0;

  /* labels */
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(var(--offwhite));
  white-space: nowrap;
  overflow: hidden;
}

.bro-remainder {
  background: #5A5A5A;
  flex-grow: 1;

  /* labels */
  display: flex;
  justify-content: left;
  align-items: center;
  color: hsl(var(--offwhite));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bro-left {
  width: 0%;
  height: 100%;
  border-radius: 0 30px 0 0;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  transition: width 200ms;
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}

.bro-left2 {
  background-color: blue;
}
.bidwar-amount {
  font-size: 0.8em;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
